<!DOCTYPE html>
<html lang="fr">
  <% include ./include/head %>

  <body id="home-page">
    <% include ./include/nav %>
    <div class="page container-fluid">
      <div class="main-title row">
        <h1>Vous êtes à l'accueil</h1>
      </div>
      <hr>
      <div class="row">
        <p>Contenu ici...</p>
      </div>
    </div>
    <% include ./include/scripts %>
    <% include ./include/footer %>
  </body>

</html>
