<footer class="container-fluid footer fixed-bottom">

  <div class="container">

    <div class="row">
      <div class="col-12">
        <% let year = (new Date()).getFullYear() %>
        <p style="float:right;margin-bottom: 0px;">&copy;
          <%= year %> Napthees</p>
      </div>
    </div>

  </div>
  
</footer>