<footer class="container-fluid footer fixed-bottom">

  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-5 col-sm-3"><a href="https://snyk.io/test/github/napthees/up-routing-node.js-express-ejs?targetFile=package.json"><img src="https://snyk.io/test/github/napthees/up-routing-node.js-express-ejs/badge.svg?targetFile=package.json"
          alt="Known Vulnerabilities" data-canonical-src="https://snyk.io/test/github/napthees/up-routing-node.js-express-ejs?targetFile=package.json"
          style="max-width:100%;"></a>
      </div>
      <div class="col-12">
        <% let year = (new Date()).getFullYear() %>
        <p style="float:right;margin-bottom: 0px;">&copy;
          <%= year %> Napthees</p>
      </div>
    </div>

  </div>

</footer>